* {
    margin: 0;
    padding: 0;
}

.Homemain {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("../../images/rice.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

.HomeUl {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeUl li {
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

.HomeUl li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.HomeUl li a:hover {
    color: #ff7200;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content .MidHead {
    color: #ff7200;
    font-size: 65px
}

.Homeform {
    width: 250px;
    height: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.Homeform h2 {
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #0D0C22;
    font-size: 22px;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 10px;
    /* margin: 2px; */
    /* padding: 8px; */
}

.Homeform input {
    width: 100%;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(44, 44, 44);
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.Homeform input:focus {
    outline: none;
}

::placeholder {
    color: rgb(119, 119, 119);
    font-family: Arial;
}

.btnn {
    width: 100%;
    height: 40px;
    background: #0D0C22;
    border: none;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #181637f2;
    color: #ffffff;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: rgb(95, 95, 95);
}

.link a {
    text-decoration: none;
    font-weight: 550;
    color: #0D0C22;
}

.Switch-login {
    text-align: center;
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(156, 156, 156);
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(117, 117, 117);
    transition: 0.4s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.line-breaker .line {
    width: 50%;
    height: 1px;
    background: rgb(89, 89, 89);
}

.line-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(89, 89, 89);
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-breaker span:nth-child(2) {
    margin: 0 2rem;
}